@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Gowun+Batang&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.app-background{
    height: 150vh;
    background: linear-gradient(#b5d4fa, #6571ee, rgb(42, 42, 121));
}
.search-component{
    padding: 250px;
}
.landing-area{
    display: flex;
    justify-content: center;
}
.cityForm-area{
    background-color: white;
    border-radius: 20px;
    width: 50%;
    padding: 20px;
    margin-left: -120px;
}
.submittedForm-area{
    display: flex;
    padding: 100px;
    justify-content: start;
    margin-top: -60px;
    margin-left: 100px;
}
#search-header{
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    color: rgb(67, 67, 184);
    font-family: "Poppins", sans-serif;
}
#submit-btn{
    background-color: white;
    color: rgb(67, 67, 184);
    border-color: rgb(67, 67, 184);
    font-family: "Poppins", sans-serif;
}
.list-area{
    display: flex;
    justify-content: center;
    margin-left: -100px;
}
.history-list{
    width: 70%;
    margin-top: 20px;
    margin-left: 100px;
    border-top: 1px solid black;
}
#history-item{
    font-family: "Poppins", sans-serif;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    color: black;
    background-color: rgb(206, 209, 211);
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    transition: all 0.5s ease-out;
}
.weather-area{
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-top: -560px;
}
.weather-info{
    border: 1px solid white;
    font-family: "Poppins", sans-serif;
    color: black;
    background-color: white;
    border-radius: 10px;
    width: 65%;
    padding: 20px;
}
.resultForm-area{
    margin-left: -190px;
}
.weather-title{
    font-weight: bold;
    font-size: 25px;
}
.future-area{
    margin-left: 300px;
    margin-top: 30px;
}
#future-header{
    font-family: "Poppins", sans-serif;
    color: black;
    font-size: 25px;
    margin-left: 10px;
}
.future {
   display: inline-block;
    padding: 10px;
}
.forecast-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-right: 20px;
    margin-top: 10px;
}
.forecast-info {
    padding: 20px;
    color: white;
    background-color: rgb(35, 35, 102);
    font-family: "Poppins", sans-serif;
    border-radius: 10px;
    text-align: center;
    height: 250px;
    width: 100%;
}
.future-title {
    font-weight: bold;
    font-size: 15px;
}
#history-item:hover{
    font-size: 20px;
    cursor: pointer;
}
#submit-btn:hover{
    background-color: rgb(67, 67, 184);
    color: white;
}
@media (max-width: 1150px) {
    .current{
        margin-right: -190px;
    }
    .future-area{
        margin-left: 350px;
    }
}
@media (max-width: 1050px) {
    .current{
        width: 85%;
        margin-left: 100px;
    }
}
@media (max-width: 700px) {
    .current{
        margin-left: 150px;
    }
}
@media (max-width: 600px) {
    .current{
        width: 75%;
    }
    .future-area{
        margin-left: 300px;
    }
    .forecast-info{
        height: 350px;
    }
}
@media (max-width: 500px) {
   .current{
    font-size: 10px;
   }
   .weather-title{
    font-size: 15px;
   }
   .future-area{
    font-size: 10px;
   }
   .future-title{
    font-size: 10px;
   }
   .forecast-info{
    height: 200px;
   }
}
